.searchResult{
    display: flex;
    
}

.searchPage__info{
    padding:20px;

}

.searchPage__info>p{
    font-size: 14px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.searchPage__info>h1{
    margin-bottom: 10px;
}

.searchPage__info>button{
    margin: 5px;
    border-radius: 30px;
    text-transform: inherit;
}
